<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="tzl.com.awesomewanandroid">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".app.WanAndroidApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_wanandroid"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".testExample.TestLeakCanaryActivity">
        </activity>
        <activity android:name=".testExample.TestGlideActivity"/>
        <activity android:name=".testExample.TestRetrofitActivity"/>
        <activity android:name=".testExample.TestImersiveModeActivity"/>
        <activity android:name=".ui.usercenter.LoginActivity">
        </activity>
        <activity android:name=".ui.usercenter.RegisterActivity">
        </activity>
        <activity android:name=".testExample.TestListActivity">
        </activity>
        <activity android:name=".testExample.aidl.ClientActivity">
        </activity>

        <service
            android:name=".testExample.aidl.RemoteService"
            android:process=":test">
        </service>

        <activity android:name=".ui.news.NewsActivity">
        </activity>
        <activity android:name=".testExample.recyclerView.BasicApiCallActivity">
        </activity>
        <activity
            android:name=".testExample.TestCustomActivity"
            android:hardwareAccelerated="false">
        </activity>
        <activity android:name=".testExample.customView.TestWindowActivity">
        </activity>
        <activity android:name=".testExample.TestWindowManagerActivity">
        </activity>
        <activity
            android:name=".testExample.ToastActivity"
            android:launchMode="singleTop"
            android:screenOrientation="user"
            android:theme="@style/DialogStyle"/>
        <activity
            android:name=".ui.h5.H5Activity"
            android:exported="false">
        </activity>
        <activity android:name=".ui.news.detail.NewsDetailActivity">
        </activity>
    </application>

</manifest>